In [2]:
import pandas as pd 
import geopandas as gpd
import matplotlib.pyplot as plt

In [3]:
df = pd.read_excel('India_Population_2001_to_2023.xlsx')
df.head()

,State/UT,2001 Population,2011 Population,2023 Estimated Population
0,Andhra Pradesh,76210007,84665533,91446000
1,Arunachal Pradesh,1097968,1383727,1653000
2,Assam,26655528,31205576,35571000
3,Bihar,82878796,104099452,127700000
4,Chhattisgarh,20833803,25545198,29900000

In [9]:
shp_gdf = gpd.read_file('india-polygon.shx')
shp_gdf.head()

                                            geometry
0  MULTIPOLYGON (((93.84831 7.24028, 93.92705 7.0...
1  POLYGON ((95.23643 26.68105, 95.19594 27.03612...
2  POLYGON ((95.19594 27.03612, 95.08795 26.94578...
3  POLYGON ((88.11357 26.54028, 88.28006 26.3764,...
4  POLYGON ((76.84208 30.76124, 76.83758 30.72552...

In [14]:
merged = shp_gdf.set_index('st_nm').join(df.set_index('States'))
merged.head()

KeyError: "None of ['st_nm'] are in the columns"

In [12]:
shp_gdf.rename(columns={'old_name': 'st_nm'}, inplace=True)